# Session1

## Grundlagen der Dictionaries

### Teil 1: Grundlegende Dictionary Operatoren

**1.1 Dictionaries erstellen**

In [9]:
mein_dict1 = {}
person = [
    {"Vorname":"Konstantin", "Nachname": "Milonas", "Alter": 55, "Wohnort":"Stuttgart"}
    ]
print(f"Mein Dictionary 1: {mein_dict1}")
print(f"Person: {person}")

Mein Dictionary 1: {}
Person: [{'Vorname': 'Konstantin', 'Nachname': 'Milonas', 'Alter': 55, 'Wohnort': 'Stuttgart'}]

**1.2 Zugriff auf Dictionary-Werte**

In [27]:
student = {"name": "Max Mustermann", "alter": 22, "kurse": ["Mathematik", "Informatik", "Statistik"]}

print(f"Der Name des Studenten ist {student["name"]}")
print(f"Das Alter des Studenten ist {student["alter"]}")
print(f"Er besucht den {student["kurse"][1]} Kurs")

print(f"Der Name des Studenten ist {student["name"]}, er ist {student["alter"]} alt und besucht unter anderem den {student["kurse"][1]} Kurs.")

Der Name des Studenten ist Max Mustermann
Das Alter des Studenten ist 22
Er besucht den Informatik Kurs
Der Name des Studenten ist Max Mustermann, er ist 22 alt und besucht unter anderem den Informatik Kurs.

**1.3 Dictionaries bearbeiten**

In [33]:
kontakt = {"name": "Anna Schmidt", "email": "anna@example.com", "telefon": "0123456789"}

kontakt["email"] = "anna@beispiel.com"
print(kontakt)
kontakt["Adresse"] = "Lilienstrasse 10"
print(kontakt)
del(kontakt["telefon"])
print(kontakt)

{'name': 'Anna Schmidt', 'email': 'anna@beispiel.com', 'telefon': '0123456789'}
{'name': 'Anna Schmidt', 'email': 'anna@beispiel.com', 'telefon': '0123456789', 'Adresse': 'Lilienstrasse 10'}
{'name': 'Anna Schmidt', 'email': 'anna@beispiel.com', 'Adresse': 'Lilienstrasse 10'}

**1.4 Durch Dictionaries iterieren**

In [243]:
produkt = {
    "name": "Laptop",
    "marke": "TechBrand",
    "preis": 999.99,
    "auf_lager": True,
    "tags": ["elektronik", "computer", "arbeit"]
}

# Alle Schlüssel und Werte ausgeben mit der items()-Methode
print(produkt.items())
# Nur die Schlüssel ausgeben
print(produkt.keys())
# Nur die Werte ausgeben
print(produkt.values())
# Überprüfen Sie, ob "farbe" im Dictionary ist
if "farbe" in produkt:
    print("Der Key (Farbe) ist in produkts enthalten")
else:
    print("der Key (Farbe) ist nicht in produkt enthalten")

dict_items([('name', 'Laptop'), ('marke', 'TechBrand'), ('preis', 999.99), ('auf_lager', True), ('tags', ['elektronik', 'computer', 'arbeit'])])
dict_keys(['name', 'marke', 'preis', 'auf_lager', 'tags'])
dict_values(['Laptop', 'TechBrand', 999.99, True, ['elektronik', 'computer', 'arbeit']])
der Key (Farbe) ist nicht in produkt enthalten

## Extra Aufgaben

### **2.1 Datenanalyse mit Dictionaries**

In [2]:
import pandas as pd
import numpy as np
import sqlite3
import pandasql as ps

In [5]:
# Verkaufsdaten für einen Tag in einem Geschäft
verkäufe = [
    {"produkt_id": 1, "produkt_name": "Laptop", "preis": 999.99, "menge": 3, "zeitpunkt": "10:15"},
    {"produkt_id": 2, "produkt_name": "Smartphone", "preis": 499.99, "menge": 5, "zeitpunkt": "11:30"},
    {"produkt_id": 3, "produkt_name": "Kopfhörer", "preis": 149.99, "menge": 2, "zeitpunkt": "12:20"},
    {"produkt_id": 1, "produkt_name": "Laptop", "preis": 999.99, "menge": 1, "zeitpunkt": "14:45"},
    {"produkt_id": 4, "produkt_name": "Maus", "preis": 29.99, "menge": 8, "zeitpunkt": "15:10"},
    {"produkt_id": 2, "produkt_name": "Smartphone", "preis": 499.99, "menge": 3, "zeitpunkt": "16:30"},
    {"produkt_id": 5, "produkt_name": "Tastatur", "preis": 79.99, "menge": 4, "zeitpunkt": "17:20"}
]

# 1. Berechnen Sie den Gesamtumsatz für den Tag
df = pd.DataFrame(verkäufe)
print(df)

df_umsatz = df["umsatz"] = df["preis"]*df["menge"]
print(df)
print("----" * 15)
print(f"Der Tagesumsatz beläuft sich auf: {sum(df_umsatz)} Euro")

   produkt_id produkt_name   preis  menge zeitpunkt
0           1       Laptop  999.99      3     10:15
1           2   Smartphone  499.99      5     11:30
2           3    Kopfhörer  149.99      2     12:20
3           1       Laptop  999.99      1     14:45
4           4         Maus   29.99      8     15:10
5           2   Smartphone  499.99      3     16:30
6           5     Tastatur   79.99      4     17:20
   produkt_id produkt_name   preis  menge zeitpunkt   umsatz
0           1       Laptop  999.99      3     10:15  2999.97
1           2   Smartphone  499.99      5     11:30  2499.95
2           3    Kopfhörer  149.99      2     12:20   299.98
3           1       Laptop  999.99      1     14:45   999.99
4           4         Maus   29.99      8     15:10   239.92
5           2   Smartphone  499.99      3     16:30  1499.97
6           5     Tastatur   79.99      4     17:20   319.96
------------------------------------------------------------
Der Tagesumsatz beläuft sich auf: 8859.74 Euro

In [ ]:
# 2. Berechnen Sie den Umsatz pro Produkt und speichern Sie das Ergebnis in einem Dictionary

query = "SELECT * FROM df"

result = ps.sqldf(query, locals())

print(result)


query = "SELECT produkt_id, produkt_name ,sum(umsatz) FROM df GROUP BY produkt_id"

result = ps.sqldf(query, locals())

result_dict = result.to_dict(orient="records")

print(result_dict)

   produkt_id produkt_name   preis  menge zeitpunkt   umsatz
0           1       Laptop  999.99      3     10:15  2999.97
1           2   Smartphone  499.99      5     11:30  2499.95
2           3    Kopfhörer  149.99      2     12:20   299.98
3           1       Laptop  999.99      1     14:45   999.99
4           4         Maus   29.99      8     15:10   239.92
5           2   Smartphone  499.99      3     16:30  1499.97
6           5     Tastatur   79.99      4     17:20   319.96
[{'produkt_id': 1, 'produkt_name': 'Laptop', 'sum(umsatz)': 3999.96}, {'produkt_id': 2, 'produkt_name': 'Smartphone', 'sum(umsatz)': 3999.92}, {'produkt_id': 3, 'produkt_name': 'Kopfhörer', 'sum(umsatz)': 299.98}, {'produkt_id': 4, 'produkt_name': 'Maus', 'sum(umsatz)': 239.92}, {'produkt_id': 5, 'produkt_name': 'Tastatur', 'sum(umsatz)': 319.96}]

In [32]:
# Format: {produkt_name: umsatz} ? Was ist hier gemeint ?

In [ ]:
# 3. Identifizieren Sie das meistverkaufte Produkt (nach Menge)

query = "SELECT produkt_id, produkt_name ,sum(menge) FROM df GROUP BY produkt_id ORDER BY sum(menge) DESC"

result = ps.sqldf(query, locals())

print(result)

   produkt_id produkt_name  sum(menge)
0           4         Maus           8
1           2   Smartphone           8
2           5     Tastatur           4
3           1       Laptop           4
4           3    Kopfhörer           2

In [ ]:
# 4. Erstellen Sie eine Stundenzusammenfassung, die zeigt, wie viele Produkte pro Stunde verkauft wurden
query = "SELECT *," \
"   CASE " \
"       WHEN zeitpunkt BETWEEN 10:00 AND 12:00 THEN SUM(umsatz) AS umsatz_" \
"       WHEN zeitpunkt BETWEEN 11:00 AND 13:00 THEN SUM(umsatz)" \
"       WHEN zeitpunkt BETWEEN 14:00 AND 15:00 THEN SUM(umsatz)" \
"FROM df "

result = ps.sqldf(query, locals())

print(result)

   produkt_id produkt_name   preis  menge zeitpunkt   umsatz
0           1       Laptop  999.99      3     10:15  2999.97
1           2   Smartphone  499.99      5     11:30  2499.95
2           3    Kopfhörer  149.99      2     12:20   299.98
3           1       Laptop  999.99      1     14:45   999.99
4           4         Maus   29.99      8     15:10   239.92
5           2   Smartphone  499.99      3     16:30  1499.97
6           5     Tastatur   79.99      4     17:20   319.96

In [ ]:
# 4. Erstellen Sie eine Stundenzusammenfassung, die zeigt, wie viele Produkte pro Stunde verkauft wurden
# Tipp: Extrahieren Sie die Stunde aus dem "zeitpunkt" (z.B. "10:15" -> 10)
# Format: {stunde: anzahl_verkäufe}
query = "SELECT strftime('%H:00:00', zeitpunkt) AS stunde, " \
"       SUM(menge) AS gesamtmenge" \
"       FROM df GROUP BY stunde ORDER BY stunde"

result = ps.sqldf(query, locals())

print(result)

     stunde  gesamtmenge
0  10:00:00            3
1  11:00:00            5
2  12:00:00            2
3  14:00:00            1
4  15:00:00            8
5  16:00:00            3
6  17:00:00            4

In [ ]:
import pandasql as ps
import pandas as pd

query = """
SELECT produkt_name, menge,
       ROW_NUMBER() OVER (PARTITION BY produkt_name ORDER BY produkt_id) AS row_num
FROM df
"""

result = ps.sqldf(query, locals())

product_dict = {}

# Korrekte Ausgabe
for index, row in result.iterrows():
    product_dict[row["produkt_name"]] = {"menge": row["menge"]}

result_dict = result.to_dict(orient="records")

print(product_dict)

{'Kopfhörer': {'menge': 2}, 'Laptop': {'menge': 1}, 'Maus': {'menge': 8}, 'Smartphone': {'menge': 3}, 'Tastatur': {'menge': 4}}

### **Umwandlung Datenstrukturen**

In [54]:
# Produktliste
produkt_liste = [
    {"id": 101, "name": "Laptop", "preis": 999.99, "bestand": 15},
    {"id": 102, "name": "Smartphone", "preis": 499.99, "bestand": 25},
    {"id": 103, "name": "Kopfhörer", "preis": 149.99, "bestand": 30},
    {"id": 104, "name": "Monitor", "preis": 299.99, "bestand": 10},
    {"id": 105, "name": "Tastatur", "preis": 79.99, "bestand": 40}
]

# Umwandlung der Liste in ein Dictionary, ohne Schlüssel manuell aufzulisten
produkt_dict = {produkt.pop("id"): produkt for produkt in produkt_liste}

# Ausgabe des erstellten Dictionaries
print(produkt_dict)

# Schnelleren Zugriff demonstrieren: Name des Produkts mit ID 103 abrufen
produkt_id = 103
if produkt_id in produkt_dict:
    print(f"Das Produkt mit der ID {produkt_id} ist: {produkt_dict[produkt_id]['name']}")
else:
    print(f"Produkt mit ID {produkt_id} nicht gefunden.")

{101: {'name': 'Laptop', 'preis': 999.99, 'bestand': 15}, 102: {'name': 'Smartphone', 'preis': 499.99, 'bestand': 25}, 103: {'name': 'Kopfhörer', 'preis': 149.99, 'bestand': 30}, 104: {'name': 'Monitor', 'preis': 299.99, 'bestand': 10}, 105: {'name': 'Tastatur', 'preis': 79.99, 'bestand': 40}}
Das Produkt mit der ID 103 ist: Kopfhörer